---
import { getCollection, type CollectionEntry } from 'astro:content';
import RootLayout from '../../layouts/RootLayout.astro';
export const prerender = true;

export async function getStaticPaths() {
	const posts = await getCollection('articles');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'articles'>;

const article = Astro.props;

const { Content } = await article.render();
---

<RootLayout title={article.data.title}>
	<div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
		<div class="prose-lg w-full">
			<h1>{article.data.title}</h1>
			<Content />
		</div>
	</div>
</RootLayout>
