---
import { getCollection } from 'astro:content';
import ArticlesFeed from '../../components/ArticlesFeed/ArticlesFeed.svelte';
import RootLayout from '../../layouts/RootLayout.astro';

const articles = await getCollection('articles');
---

<RootLayout title="Atomowe artykuły">
	<main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
		<ArticlesFeed articlesData={articles} client:load />
	</main>
</RootLayout>
