---
import { getCollection } from 'astro:content';
import RootLayout from '../../layouts/RootLayout.astro';

const articles = await getCollection('articles');
---

<RootLayout title="Atomowe artykuły">
	<main>
		<section>
			<ul>
				{
					articles.map((article) => (
						<li>
							<a href={`/artykuly/${article.slug}`}>
								<h4 class="title">{article.data.title}</h4>
								<p class="date" />
							</a>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</RootLayout>
