---
import Button from '../../components/UI/Button.svelte';
import RootLayout from '../../layouts/RootLayout.astro';
import { setCookie } from '../../utils/cookies';
import Manifest from './_manifest.mdx';

Astro.response.headers.set('Set-Cookie', setCookie('manifest_read', 'true'));
---

<RootLayout title="Manifest Atomowy">
	<div
		class="flex flex-col justify-center items-center mx-auto px-6 py-12 max-w-4xl">
		<div class="prose-lg">
			<Manifest />
		</div>
		<Button className="mt-12" href="/artykuly" variant="secondary" size="large">
			Dowiedz się więcej
		</Button>
	</div>
</RootLayout>
